In [1]:
import pandas as pd

In [2]:
misoginos = pd.read_excel('Biblioteca Términos.xlsx', sheet_name = 0, header = None)
misoginos

                         0
0                Feminazis
1                 Feminazi
2                 Abortera
3                Aborteras
4                    Yegua
5                   Yeguas
6               Mugrientas
7                tijeretas
8               tortiyeras
9     sobadoras de conchas
10                   Locas
11      Mujeres Enfermizas
12                   Putas
13       Enfermas mentales
14              Malcogidas
15               Malcogida
16               Incogible
17              Incogibles
18              Abortistas
19              HEMBRISTAS
20             MISANDRICAS
21               incojible
22              incojibles
23              energumena
24             energumenas
25               resentida
26             feminazismo
27             Tortilleras
28                 tilinga
29  se quejan si las matan
30              marimachas
31              marimachas
32          FEMIMONTONERAS
33               pelotudas
34                conchuda
35                 Boludas
36             Pelotuditas
37             Femibolches
38            Femi Bolches
39        Femidescerebrada
40                 feminas
41           descerebradas
42              retrasadas
43             degeneradas
44                femiloca
45               ridículas
46              Histéricas
47   despues se victimizan
48         Mostrar el culo
49                 frigida
50        lavar los platos
51                   trola
52                   putas
53                   gorda
54                     fea
55                     fea
56               una menos
57                  tarada
58                  sucias
59                   putas

In [3]:
racistas = pd.read_excel('Biblioteca Términos.xlsx', sheet_name = 2, header = None)
racistas

                     0
0     negros de mierda
1     bestias inmundas
2           raza sucia
3         negros monos
4              bestias
5              gentuza
6          congourbano
7             marrones
8              negrada
9                pardo
10  aluvion zooloogico
11             negrito
12           villerito
13            villerio
14            cimarron
15          cimarrones
16            negroide
17             simiaje
18              simios
19          aborigenes
20            aborigen
21             negraje

In [4]:
ideologicos = pd.read_excel('Biblioteca Términos.xlsx', sheet_name = 4, header = None)
ideologicos

                         0
0                 Zurdos K
1                 Mugricio
2                Globoludo
3                 Peroncho
4                     Kuka
5                  Planero
6             Choriplanero
7           FEMIMONTONERAS
8                   Porota
9                 planeros
10                 planera
11                zurditos
12                 Kretina
13                   Lakra
14           izquierdistas
15                korrupto
16                korrupta
17                 kretina
18              kernerista
19             choripanero
20                 peronia
21               kukaracha
22               peroniano
23        planes descansar
24                globerto
25               kernerolo
26      arquitecta egipcia
27                 globera
28                globerto
29                Toloseña
30               tolosenia
31             boluprogres
32  curro derechos humanos
33        basura populista
34            planes vagar
35             delinkuente
36                 peronio
37               porotista

In [5]:
violentos = pd.read_excel('Biblioteca Términos.xlsx', sheet_name = 6, header = None)
violentos

                      0
0         prender fuego
1              matarlos
2        pena de muerte
3               fusilar
4       tirar una bomba
5          Volve Videla
6       rifle sanitario
7            fusilarlos
8               matenlo
9             uno menos
10         chorro menos
11                Forro
12         Hijo de puta
13        Rompan el OGT
14              1 menos
15              linchar
16         linchamiento
17     una basura menos
18     bien muerto esta
19         tirar al rio
20      tirarlos al rio
21  cagarlo a trompadas
22                 puta

In [6]:
homofobicos= pd.read_excel('Biblioteca Términos.xlsx', sheet_name = 8, header = None)
homofobicos

                         0
0              tortilleras
1               tortiyeras
2             trasvestidos
3    aberracion homosexual
4                   travas
5           homo abortista
6            Rompan el OGT
7                     puto
8                    put0s
9                culo roto
10             romper orto
11              tijereteen
12                tijereta
13             mariposones
14  mariposas multicolores
15                  trolos
16                  troles
17                  marica
18                   putos
19                  tortas
20                comepija
21                 peteros
22                  petero
23                ano roto

In [7]:
xenofobos = pd.read_excel('Biblioteca Términos.xlsx', sheet_name = 10, header = None)
xenofobos

                         0
0                   peruca
1              deportacion
2                  bolitas
3                 paraguas
4                 Adolfito
5                     pyos
6                    Indio
7             Volve Videla
8      atienden hospitales
9   basura latinoamericana
10       extranjera basura
11              Argenzuela
12               Argencuba
13                 sudacas
14               Paragüita
15             morfa chipa
16                 Chilote
17                  Xilote
18                 Shilote
19                sionismo
20                sionista
21               parasitos

In [8]:
glosarios = [misoginos, racistas, ideologicos, violentos, homofobicos, xenofobos]
nombres = ['misoginos', 'racistas', 'ideologicos', 'violentos', 'homofobicos', 'xenofobos']

In [15]:
import codecs
for glosario,nombre in zip(glosarios,nombres):
    cadena = "','".join(glosario[0].values)
    cadena = str(nombre) +" = ['" + cadena + "']"
    with codecs.open("glosarios.py", "a", "utf-8") as text_file:
        text_file.write(cadena + "\n")

In [101]:
#pipeline para generar la expresión
#prueba = pd.read_excel('Biblioteca Términos.xlsx', sheet_name = 3, header = None)

In [12]:
def multiples(lista):
    base = r'^{}'
    expr = '(?=.*{})'
    return base.format(''.join(expr.format(w) for w in lista))

In [158]:
#ex = "|".join(pd.Series(glosarios.racistas).apply(lambda x: ("(^|\s)" + x + "([,;.\s]|$)").split(',')).apply(multiples))
#ex

'^(?=.*(^|\\s)negros de mierda([)(?=.*;.\\s]|$))|^(?=.*(^|\\s)bestias inmundas([)(?=.*;.\\s]|$))|^(?=.*(^|\\s)raza sucia([)(?=.*;.\\s]|$))|^(?=.*(^|\\s)negros monos([)(?=.*;.\\s]|$))|^(?=.*(^|\\s)bestias([)(?=.*;.\\s]|$))|^(?=.*(^|\\s)gentuza([)(?=.*;.\\s]|$))|^(?=.*(^|\\s)congourbano([)(?=.*;.\\s]|$))|^(?=.*(^|\\s)marrones([)(?=.*;.\\s]|$))|^(?=.*(^|\\s)negrada([)(?=.*;.\\s]|$))|^(?=.*(^|\\s)pardo([)(?=.*;.\\s]|$))|^(?=.*(^|\\s)aluvion zooloogico([)(?=.*;.\\s]|$))|^(?=.*(^|\\s)negrito([)(?=.*;.\\s]|$))|^(?=.*(^|\\s)villerito([)(?=.*;.\\s]|$))|^(?=.*(^|\\s)villerio([)(?=.*;.\\s]|$))|^(?=.*(^|\\s)cimarron([)(?=.*;.\\s]|$))|^(?=.*(^|\\s)cimarrones([)(?=.*;.\\s]|$))|^(?=.*(^|\\s)negroide([)(?=.*;.\\s]|$))|^(?=.*(^|\\s)simiaje([)(?=.*;.\\s]|$))|^(?=.*(^|\\s)simios([)(?=.*;.\\s]|$))|^(?=.*(^|\\s)aborigenes([)(?=.*;.\\s]|$))|^(?=.*(^|\\s)aborigen([)(?=.*;.\\s]|$))|^(?=.*(^|\\s)negraje([)(?=.*;.\\s]|$))'

In [16]:
import codecs
for glosario,nombre in zip(glosarios,nombres):
    cadena = "|".join(glosario[0].apply(lambda x: ("(^|\s)" + x + "([,;.\s]|$)").split(',')).apply(multiples))
    cadena = str(nombre) + " = '" +cadena + "'"
    with codecs.open("glosariosRe.py", "a", "utf-8") as text_file:
        text_file.write(cadena + "\n")

In [17]:
import glosariosRe

In [20]:
pd.Series("negros de mierda").str.contains(glosariosRe.racistas)

C:\Users\p_bag\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

0    True
dtype: bool